.questions-header {
  font-size: calc(2px + 2vmin);
  color: #282c34;
  margin-bottom: 0;
  display: flex;
  padding-left: 2rem;
  position: fixed;
}

.text {
 padding-right: 30%;
 position: fixed;
}



.App {
  position: fixed;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}


.App-header {
  position: fixed;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin-bottom: 0;
  padding-left: 2rem
}

.App-text {
  position: fixed;
  color: #aab9ce;
  font-size:  calc(1px + 2vmin);
  margin-top: 0;
  padding-left: 2rem
}


.app-fab--absolute {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 2rem;
    left: 2rem;
  }
}